* {
  margin: 0;
  padding: 0;
  font-family: Inknut Antiqua, serif;
}

body {
  width: 100%;
  background-color: rgb(230, 229, 229);
}

input {
  padding-left: 10px;
  border: 0;
  border-radius: 6px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  color: white;
  align-items: center;
  height: 70px;
}

#trybewarts-header-title {
  font-size: 30px
}

.trybewarts-header-logo {
  width: 60px;
  padding: 5px 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
  font-weight: bolder;
  color: rgb(166, 165, 163);
}

.trybewarts-login input {
  width: 130px;
  height: 35px;
  margin: 0 7px;
  padding-left: 10px;
  border: 0px;
}

.trybewarts-login button {
  border: 0px;
  width: 130px;
  height: 35px;
  align-items: center;
  margin: 0 7px;
  margin-right: 20px;
  background-color: rgb(67, 44, 131);
  color: white;
  text-align: center;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 0;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#evaluation-form h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  font-weight: 900;
}

#trybewarts-forms-logo {
  height: 500px;
}

#fullName {
  display: flex;
}

#div-label-radio {
  display: flex;
  flex-direction: column;
}

.checkbox-content {
  display: flex;
  flex-direction: column;
}

#preferencias {
  display: flex;
}

footer {
  font-size: small;
  background-color: rgb(60, 64, 74);
  color: white;
  text-align: center;
  width: 100%;
}

#textarea {
  resize: none;
}

#textarea:active {
  border: 1px solid rgb(67, 44, 131);
}

#container-textarea {
  display: flex;
  flex-direction: column;
}

#counter {
  align-self: flex-end;
  font-size: small;
}

#username-section {
  margin-bottom: 10px;
}

#username-section input {
  width: 47%;
  height: 40px
}

#house-section {
  margin-bottom: 15px;
}

#house-section input {
  width: 47%;
  height: 42px
}

#house {
  width: 40.6%;
  border: 0;
  border-radius: 5px;
  height: 42px;
  padding-left: 15px;
}