* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 40px;
  color: white;
}

.trybewarts-header-logo {
  width: 60px;
  padding: 10px;
}

.trybewarts-login input {
  width: 150px;
  height: 40px;
  padding-left: 10px;
  border-radius: 8px;
  margin: 0 2px;
}

.trybewarts-login button {
  width: 150px;
  height: 43px;
  border-radius: 8px;
  margin: 0 7px;
  background-color: rgb(32, 32, 112);
  color: white;
  font-weight: bolder;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}
